In [1]:
import pandas as pd
import numpy as np

In [2]:
dsFile = pd.read_csv('data_files/ds_june_to_nov.csv')

In [4]:
temp = dsFile[['ds_loc', 'ds_clust']]

In [ ]:
aa=temp.groupby('ds_loc').ds_clust.nunique()

In [11]:
aa.head()

           ds_clust
ds_loc
AMD          315162
AMS          665115
ASH          176260
ASH02NA9     525563
ASH02na10    274984

In [19]:
dsFile.head()

,Unnamed: 0,ds_clust,ds_name,ds_cap_gb,ds_free_space,ds_storagetier,ds_storagetype,ds_loc,Date
0,109,ASH02NA15-CL5-PRODDB,ASH02-5600-01-CL5HP_RG0001_511_OS,99.75,56.037109,HIGHPERFORMANCE,VMFS,ash02na15,2016-08-07 05:02:48
1,110,ASH02NA15-CL5-PRODDB,ASH02-5600-01-CL5HP_RG0001_511_OS,99.75,56.037109,HIGHPERFORMANCE,VMFS,ash02na15,2016-08-07 07:02:54
2,111,ASH02NA15-CL5-PRODDB,ASH02-5600-01-CL5HP_RG0001_511_OS,99.75,56.037109,HIGHPERFORMANCE,VMFS,ash02na15,2016-08-07 08:02:50
3,112,ASH02NA15-CL5-PRODDB,ASH02-5600-01-CL5HP_RG0001_511_OS,99.75,56.037109,HIGHPERFORMANCE,VMFS,ash02na15,2016-08-07 09:02:50
4,113,ASH02NA15-CL5-PRODDB,ASH02-5600-01-CL5HP_RG0001_511_OS,99.75,56.037109,HIGHPERFORMANCE,VMFS,ash02na15,2016-08-07 11:02:50

In [30]:
dsFile.dtypes

Unnamed: 0          int64
ds_clust           object
ds_name            object
ds_cap_gb         float64
ds_free_space     float64
ds_storagetier     object
ds_storagetype     object
ds_loc             object
Date               object
dtype: object

In [54]:
ds_jun2016_all = dsFile
ds_jun2016_all['used_space'] = ds_jun2016_all['ds_cap_gb'] - ds_jun2016_all['ds_free_space']
ds_jun2016_all['Date'] = ds_jun2016_all['Date'].apply(lambda x: str(x).replace(str(x)[-5:],'00:00'))
ds_jun2016_GB_graph_tier = ds_jun2016_all.groupby(['ds_storagetier', 'ds_loc', 'ds_name', 'Date'])[["used_space"]].max()
ds_jun2016_GB_graph_tier = ds_jun2016_GB_graph_tier.reset_index(level=['Date', 'ds_storagetier', 'ds_loc', 'ds_name'])
ds_jun2016_GB_graph_tier = ds_jun2016_GB_graph_tier.groupby(['ds_storagetier', 'ds_loc', 'Date'])[["used_space"]].sum()
ds_jun2016_GB_graph_tier = ds_jun2016_GB_graph_tier.reset_index(level=['Date', 'ds_storagetier', 'ds_loc'])
ds_jun2016_GB_graph_tier['Date'] = ds_jun2016_GB_graph_tier['Date'].apply(lambda x: str(x).replace(str(x)[-8:],'00:00:00'))
ds_jun2016_GB_graph_tier = ds_jun2016_GB_graph_tier.groupby(['ds_storagetier', 'ds_loc', 'Date'])[['used_space']].max()
storage_tiers = ["STANDARD", "ECONOMY", "HIGHPERFORMANCE"]

In [68]:
for storageTier in storage_tiers:
        ds_jun2016_GB_graph_tier_eco =  ds_jun2016_GB_graph_tier.iloc[ds_jun2016_GB_graph_tier.index.get_level_values('ds_storagetier') == storageTier]
        unique_locs = ds_jun2016_GB_graph_tier_eco.index.get_level_values('ds_loc').unique()
        #ncols=5
        #nrows=math.ceil(unique_locs.size/5)
        #m=0
        #n=0
        #fig, ax = plt.subplots(nrows,ncols)
        #fig.set_figheight(10)
        #fig.set_figwidth(10)
        #fig.suptitle(storageTier  + " storage tier from June to  2016")
        #fig.subplots_adjust(hspace=.5)
        for location in unique_locs:
            temp = ds_jun2016_GB_graph_tier_eco.iloc[ds_jun2016_GB_graph_tier_eco.index.get_level_values('ds_loc') == location]
            temp=temp.reset_index(level=['Date'])
            temp2=pd.DataFrame()
            temp2['Date']=temp['Date']
            temp2['used_space']=temp['used_space']
            temp2 = temp2.set_index('Date')
            if location=="cgk02id2":
                temp2.to_csv("temp2_"+location+"_"+storageTier)
            ts=(temp2['used_space'])
            #ax[m,n].plot(ts, marker='.')
            ff=location+" "+str(temp2.size)
            fig=plt.figure()
            ax=ts.plot()
            ax.set_title(ff)
            ax.set_xlabel("Time", fontsize=12)
            ax.set_ylabel("Storage Used (in GB)", fontsize=12)
            fig.autofmt_xdate()
            plt.savefig(storageTier+"_"+location+"_disk.png", bbox_inches='tight')
            plt.close()
            #ax.axes.get_xaxis().set_visible(False)
            #ax.axes.get_yaxis().set_visible(False)
            #if n==4:
            #    n=0
            #    m+=1
            #else:
            #    n+=1
        #plt.show()

C:\Users\Home\Anaconda3\lib\site-packages\matplotlib\axes\_base.py:2782: UserWarning: Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=0.0, right=0.0
  'left=%s, right=%s') % (left, right))

OSError: [Errno 22] Invalid argument: 'C:\\Ankit\x07a.csv'

In [39]:
ds_jun2016_GB_graph_tier=ds_jun2016_GB_graph_tier.reset_index(level=['Date'])

In [40]:
ds_jun2016_GB_graph_tier.head()

                                        Date  used_space
ds_storagetier ds_loc
DRS-JOURNAL    ASH02NA9  2016-10-03 12:00:00    0.972656
               ASH02NA9  2016-10-03 13:00:00    0.973633
               ASH02NA9  2016-10-03 14:00:00    0.973633
               ASH02NA9  2016-10-03 15:00:00    0.973633
               ASH02NA9  2016-10-03 16:00:00    0.973633

In [41]:
ds_jun2016_GB_graph_tier['Date'] = ds_jun2016_GB_graph_tier['Date'].apply(lambda x: str(x).replace(str(x)[-8:],'00:00:00'))

In [42]:
ds_jun2016_GB_graph_tier.head()

                                        Date  used_space
ds_storagetier ds_loc
DRS-JOURNAL    ASH02NA9  2016-10-03 00:00:00    0.972656
               ASH02NA9  2016-10-03 00:00:00    0.973633
               ASH02NA9  2016-10-03 00:00:00    0.973633
               ASH02NA9  2016-10-03 00:00:00    0.973633
               ASH02NA9  2016-10-03 00:00:00    0.973633

In [44]:
ds_jun2016_GB_graph_tier.groupby(['Date'])['used_space'].max()

Date
2016-06-01 00:00:00    1.474867e+06
2016-06-02 00:00:00    1.479056e+06
2016-06-03 00:00:00    1.477615e+06
2016-06-04 00:00:00    1.487321e+06
2016-06-05 00:00:00    4.243007e+05
2016-06-06 00:00:00    4.280641e+05
2016-06-07 00:00:00    4.295519e+05
2016-06-08 00:00:00    1.489779e+06
2016-06-09 00:00:00    1.490576e+06
2016-06-10 00:00:00    1.489880e+06
2016-06-11 00:00:00    1.497749e+06
2016-06-12 00:00:00    1.497667e+06
2016-06-13 00:00:00    1.495864e+06
2016-06-14 00:00:00    1.495760e+06
2016-06-15 00:00:00    1.496261e+06
2016-06-16 00:00:00    1.496633e+06
2016-06-17 00:00:00    1.511829e+06
2016-06-18 00:00:00    1.522169e+06
2016-06-19 00:00:00    1.521619e+06
2016-06-20 00:00:00    1.516865e+06
2016-06-21 00:00:00    1.517069e+06
2016-06-22 00:00:00    1.511903e+06
2016-06-23 00:00:00    1.511165e+06
2016-06-24 00:00:00    1.504001e+06
2016-06-25 00:00:00    1.372553e+06
2016-06-26 00:00:00    1.373120e+06
2016-06-27 00:00:00    1.351867e+06
2016-06-28 00:00:00    1.387739e+06
2016-06-29 00:00:00    1.364020e+06
2016-06-30 00:00:00    1.363235e+06
                           ...
2016-11-01 00:00:00    8.960387e+05
2016-11-02 00:00:00    1.009759e+06
2016-11-03 00:00:00    1.005443e+06
2016-11-04 00:00:00    1.006247e+06
2016-11-05 00:00:00    1.015420e+06
2016-11-06 00:00:00    1.015966e+06
2016-11-07 00:00:00    1.020306e+06
2016-11-08 00:00:00    1.024316e+06
2016-11-09 00:00:00    1.024979e+06
2016-11-10 00:00:00    9.891396e+05
2016-11-11 00:00:00    9.657232e+05
2016-11-12 00:00:00    8.994848e+05
2016-11-13 00:00:00    9.001001e+05
2016-11-14 00:00:00    9.004928e+05
2016-11-15 00:00:00    9.689715e+05
2016-11-16 00:00:00    9.690141e+05
2016-11-17 00:00:00    9.779228e+05
2016-11-18 00:00:00    9.811339e+05
2016-11-19 00:00:00    9.855050e+05
2016-11-20 00:00:00    9.865910e+05
2016-11-21 00:00:00    9.867318e+05
2016-11-22 00:00:00    9.877440e+05
2016-11-23 00:00:00    9.966138e+05
2016-11-24 00:00:00    9.896443e+05
2016-11-25 00:00:00    9.896855e+05
2016-11-26 00:00:00    9.896111e+05
2016-11-27 00:00:00    9.741833e+05
2016-11-28 00:00:00    9.742905e+05
2016-11-29 00:00:00    1.000997e+06
2016-11-30 00:00:00    9.787830e+05
Name: used_space, dtype: float64

In [47]:
ds_jun2016_GB_graph_tier.head()

                       used_space
Date
2016-06-01 00:00:00  1.474867e+06
2016-06-02 00:00:00  1.479056e+06
2016-06-03 00:00:00  1.477615e+06
2016-06-04 00:00:00  1.487321e+06
2016-06-05 00:00:00  4.243007e+05

In [50]:
ds_jun2016_GB_graph_tier.head()

                                             used_space
ds_storagetier ds_loc   Date
DRS-JOURNAL    ASH02NA9 2016-10-03 00:00:00  100.974609
                        2016-10-04 00:00:00  200.976562
                        2016-10-05 00:00:00  200.975586
                        2016-10-06 00:00:00  200.973633
                        2016-10-07 00:00:00  200.976562